.hero-content {
  display: flex;
  margin-bottom: 8vw;
}
.hero-content-title {
  letter-spacing: 0.2vw;
  font-size: 3vw;
  font-weight: initial;
  font-family: "Poppins";
  margin-left: -78%;
}
.hero-content-subtitle {
  margin-bottom: 1%;
  font-size: 1.563vw;
  margin-left: -60%;
}
.hero-content-txt {
  margin-left: -70%;
  margin-top: 6%;
  font-size: 1.5vw;
  font-family: "Poppins";
}

.smaller {
  font-size: 7vw;
  margin-left: 2vw;
  margin-top: 2vw;
}
